/*    ----    css for the whole app  ----   */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'ABeeZee', sans-serif;
    color: #211d1e;
    background-repeat:no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration:none;
    color:#F9AD20;
    font-weight: bold;
    transition: 0.5s;
}
a:hover{
    color:#211d1e;
    transition: 0.5s;
}
.error-message{
    font-size: 13px;
    color: red;
    text-align: center;
}
.success-message{
    font-size: 13px;
    color: green;
    text-align: center;
}

/* ---- css for head of app ----   */
.head{
    background-color: #ffffffd3;
    padding:15px 0 17px 0;
    margin:0;
    width: 100%;
}
.navigation{
    width:65%;
    margin:0 auto;
    padding:0;
}
.main_container{
    width:70%;
    margin: 0 auto;
}
.middle_section{
    margin:0 auto;
    width: 100%;
}


/* ---- navigationbar layout ----   */
.all_ul{
    float:right;
    margin: 0 100px;
}
.all_ul li{
    display:inline-table;
    list-style-type:none;
    margin:0;
}
.all_ul li a{
    text-decoration:none;
    font-size: 15px;
    color:#1d1d1d;
    display:block;
    padding:17px 30px;
    text-align:center;
}
.all_ul li a:hover{
    color:#fff;
    color: #F9AD20;
    transition: 0.5s;
}


/* --- table css --- */
.table{
    margin-bottom: 30px;
    background-color: #ffffffd3;
}
.activity h1{
    text-align: center;
    font-size: 27px;
    color: #fff;
}
table{
    border-collapse: collapse;
    margin-bottom: 30px;
}
table th{
    color: #fff;
    font-size: 17px;
    background-color: #F9AD20;
}
table td{
    text-align: center;
    font-size: 15px;
}
table tr:nth-child(even) td{
    background-color: #fbf9f966;
}
table tr:nth-child(odd) td{
    border-bottom: 1px solid #F9AD20;
}


/* --- heading --- */
.activity{
    font-size: 27px;
    color: #fff;
    text-align: center;
}


/* --- logout link --- */
.profile{
    float:right;
    font-size:15px;
}

/* --- all buttons css --- */
.button{
    border: 1px solid #F9AD20;
    background: #F9AD20;
    border-radius:25px;
    color: #fff;
    font-size: 15px;
    padding: 10px 17px;
    outline: none;
    transition: 0.5s;
    box-sizing: border-box;
}
.button:hover{
    background-color: transparent;
    border: 1px solid #F9AD20;
    color: #F9AD20;
    transition: 0.5s;
}
.button1{
    border: 1px solid #0080ff;
    background: #0080ff;
    border-radius:25px;
    color: #fff;
    font-size: 15px;
    padding: 10px 17px;
    outline: none;
    transition: 0.5s;
    box-sizing: border-box;
}
.button1:hover{
    background-color: transparent;
    border: 1px solid #0080ff;
    color: #0080ff;
    transition: 0.5s;
}
.button2{
    border: 1px solid #c21807;
    background: #c21807;
    border-radius:25px;
    color: #fff;
    font-size: 15px;
    padding: 10px 17px;
    outline: none;
    transition: 0.5s;
    box-sizing: border-box;
}
.button2:hover{
    background-color: transparent;
    border: 1px solid #c21807;
    color: #c21807;
    transition: 0.5s;
}


/* --- css for some accordian --- */
.panel {
    padding: 0;
    margin: 0 0 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p{
    font-size: 12px;
}
.cart{
    display: none;
    font-size: 14px;
}
.cat_section {
    background: #fff;
    padding: 12px 20px;
    border-radius: 5px;
}
.cat_section h3 {
    font-size: 20px;
    margin: 17px 0;
}
.cat-items {
    font-size: 14px;
}

/* --- modal box to display a single product -- */
#modalbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity:0;
    transition: opacity 400ms linear;
    pointer-events: none;
}
#modalbox:target {
    opacity:1;
    pointer-events: auto;
}
#modalbox > div {
    width: 370px;
    text-align: center;
    height: 470px;
    position: relative;
    margin: 70px auto;
    padding: 0 0 13px 0;
    border: none;
    background-color: #fff;
}

.myshoppingcart {
    background-color: #fff;
    padding: 12px 20px 20px 20px;
    border-radius: 5px;
}
.myshoppingcart h3{
    font-size: 20px;
    margin:17px 0;
}
.product-head{
    background: #F9AD20;
    width: 100%;
    padding: 5px 0 20px 0;
    height: 100px;
}
.product-head h3{
    font-size: 20px;
    color: #fff;
}

.product-head button{
    border: 1px solid #211d1e;
    margin:0;
    background: #211d1e;
    border-radius:25px;
    color: #fff;
    font-size: 14px;
    padding: 10px 17px;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
}
.product-head button:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.5s;
}

/* ---- footer layout ----   */
footer{
    float: none;
    clear: both;
    text-align: center;
    padding:25px 0 25px 0;
    background-color: #ffffffd3;
}
